extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Pavani Chilakala

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Java
          li JavaScript
          li CSS
          li HTML 
          li ReactJS
        h6 Contact Info

        ul
          li 7483396546
          li pavani.chilakala123@gmail.com

        a.button.expanded(href='https://github.com/pavani507') LinkedIn
        a.button.expanded(href='https://www.linkedin.com/in/pavani-chilakala-63b671164/') GitHub
        a.button.expanded(href='https://twitter.com/pavani507') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  